<!-- <wj-flex-grid [itemsSource]="gridData" (selectionChanged)="selectRow($event)">
  <wj-flex-grid-column [binding]="'id'" [header]="'ID'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'age'" [header]="'Age'"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'name'" [header]="'Name'"></wj-flex-grid-column>
</wj-flex-grid> -->

<div>
  <input type="text" placeholder="Search" (input)="search($event)" />
</div>

<wj-flex-grid #flexGrid (selectionChanged)="selectRow($event)">
  <wj-flex-grid-column [binding]="'id'" [header]="'ID'" [allowSorting]="true"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'age'" [header]="'Age'" [allowSorting]="true"></wj-flex-grid-column>
  <wj-flex-grid-column [binding]="'name'" [header]="'Name'" [allowSorting]="true"></wj-flex-grid-column>
</wj-flex-grid>

